@font-face {
    font-family: 'bebasneue_regular';
    src: url('../fonts/bebasneue_regular-webfont.eot');
    src: url('../fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bebasneue_regular-webfont.woff2') format('woff2'), url('../fonts/bebasneue_regular-webfont.woff') format('woff'), url('../fonts/bebasneue_regular-webfont.ttf') format('truetype'), url('../fonts/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bebas_neue_bold';
    src: url('../fonts/bebasneue_bold-webfont.eot');
    src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bebasneue_bold-webfont.woff2') format('woff2'), url('../fonts/bebasneue_bold-webfont.woff') format('woff'), url('../fonts/bebasneue_bold-webfont.ttf') format('truetype'), url('../fonts/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ==========================================================================
                            John Peter Custom Styles
   ========================================================================== */

body { font-family: 'ProximaNova-Regular'; font-size: 16px; margin:0px; padding:0px; }
h1,h2,h3,h4,h5,h6 { font-family: 'PFEncoreSansPro-Medium'; }
p { color: #383838; }
textarea { resize: vertical; }
a:hover { text-decoration: none; }
* html .clearfix { height: 1%; }
.ease,a,input[type="submit"],button { -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease; }
.mx-1024 { width: 100%; max-width: 1024px; margin: 0 auto;}
.mx-1232 { width: 100%; max-width: 1252px; margin: 0 auto; }
.mx-1440 { width: 100%; max-width: 1440px; margin: 0 auto; }
.relative { position: relative; }
.clearfix:after {visibility: hidden; display: block; font-size: 0; content:""; clear: both; height: 0;}
.clearfix { display: block; clear:both; }
.center-div{position:absolute; top:50%; left:50%; margin-right:-50%; -ms-transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -o-transform:translate(-50%,-50%);  transform:translate(-50%,-50%); }
.middle-div{position:absolute; top:50%;  -ms-transform:translate(0,-50%); -webkit-transform:translate(0,-50%); -moz-transform:translate(0,-50%); -o-transform:translate(0,-50%);  transform:translate(0,-50%); }
.hori-div{position:absolute; left:50%;  -ms-transform:translate(-50%,0); -webkit-transform:translate(-50%,0); -moz-transform:translate(-50%,0); -o-transform:translate(-50%,0);  transform:translate(-50%,0); }


.test_section { height: 100vh;}


#mobile-menu.active { display: block; }


#header {
    width: 100%;
    position: fixed;
    /*position: relative;*/
    z-index: 999;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    transform: translate3d(0px, 0, 0px);
    transition: transform 0.5s ease 1s;
}

#header.slide-up {
    /*transform: translate3d(0px, -176px, 0px); position relative*/ 
    transition: transform 0.5s ease 0s;
    transform: translate3d(0px, -217px, 0px);
}

#header .sponsor-label-wrapper {
    transform: translate3d(0, 0px, 0px);
    transition: transform 0.5s ease 0.5s;
}

#header.slide-up .sponsor-label-wrapper {
    transform: translate3d(106px, 0px, 0px);
    transition: transform 0.5s ease 0.5s;
}

.header-section {
    width: 100%;
    z-index: 1000;
}

.upper-header-section {
    background-color: #FFFFFF;
    padding: 10px 5%;
}

.lower-header-section {
    background-color: rgba(215, 215, 215, 0.76);
    font-size: 12px;
    line-height: 1em;
    padding: 7px 5%;
}

.header-section-content {
    width: 100%;
    max-width: 1240px;
    /* max-width:992px; */
    margin: 0 auto;
}

.header-section-content .main-menu-cell {
    width: calc(100% - 10px);
    padding-right: 20px;
    font-size: 14px;
}

.header-section-content .eco-main-logo-wrapper {
    text-align: center;
    border-bottom: 2px solid #919291;
}

.header-section-content .eco-main-logo-wrapper img {
    width: 35%;
    max-width: 250px;
    height: auto;
    display: block;
    margin: auto;
    padding-bottom: 10px;
}

.header-section nav {
    width: 100%;
    text-align: center;
    padding-top:15px;
}

.header-section nav a,
.header-follow-wrapper>span {
    font-family: 'Economist Sans';
    color: #919291;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    padding: 8px 0px;
    margin: 0 5px;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.075em;
    font-weight:600;
    text-transform: uppercase;
}

.header-section nav a:hover,
.header-section nav a:focus,
.header-section nav a:active {
    text-decoration: none;
}

.header-section nav a:hover {
    /* color: #414645; */
    color:#919291;
    text-decoration:underline;
}

.header-section-content .issue-menu-cell {
    width: 25%;
    /* width:193px; */
}

.header-section-content .issue-menu-cell .table-wrap {
    width: 100%;
}

.header-section-content .issue-menu-cell .issue-cell {
    width: 111px;
    height: 147px;
}

.header-section-content .issue-menu-cell .issue-cell img {
    width: 100%;
    display: block;
    height: auto;
}

.header-section-content .issue-menu-cell nav {
    text-align: left;
    padding-top:0;
}

.header-follow-wrapper {
    position: absolute;
    bottom: 0;
    text-align: left;
}

.follow-link {
    padding: 8px 0px;
    margin: 0px 7px;
    font-size: 14px;
}

.header-section-content .issue-menu-cell nav a,
.header-follow-wrapper>span {
    display: block;
    font-size: 11px;
    letter-spacing: 1.1px;
    line-height:16px;
    padding: 0px 3px;
    margin:0 3px;
}

.header-follow-wrapper a {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
}

.header-follow-wrapper a.ml-5 {
    margin-left: 5px;
}

.header-follow-wrapper a img {
    width: 20px;
    height: auto;
}

.header-follow-wrapper a:hover,
.header-follow-wrapper a:focus,
.header-follow-wrapper a:active {
    text-decoration: none;
    color: #fff;
}

.header-search-bar {
    text-transform: uppercase;
    font-size: 11px;
    color: #ffffff;
    letter-spacing: 1px;
    font-family: 'Economist Sans';
    margin-top: 21px;
    font-weight:600;
}

.header-search-bar input {
    width: 100%;
    border: 0px;
    background: #919291;
    padding: 3px 5px;
    padding-top: 4px;
    text-transform: uppercase;
    /*max-width: 228px;*/
}

.header-search-bar input,
.header-search-bar input:focus,
.header-search-bar input:active {
    outline: none;
}

.header-search-bar .input-placeholder {
    position: absolute;
    left: 5px;
    top: 4px;
}

.sponsor-label,
.sponsor-logo {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
}

.sponsor-label {
    text-transform: uppercase;
    color: #000;
    padding-right: 4px;
    font-family: 'HelveticaNeueLTStd-Bd';
}

.sponsor-logo {
    height: 2.5em;
    position: relative;
    top: 0;
}

.sponsor-logo img {
    height: 100%;
    width: auto;
}

.home-panel .back-to-top-header {
    /*opacity: 0 !important;*/
}

.back-to-top-header {
    cursor: pointer;
    position: absolute;
    width: auto;
    /*right: 10px;*/
    right: 0px;
    top: 1px;
    z-index: -1;
    line-height: 1em;
    /*padding: 10px 15px 8px 15px;*/
    /* background: rgba(255, 255, 255, 0.75); */
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'HelveticaNeueLTStd-Bd';
    color: #000;
    opacity: 0;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    cursor: pointer;
    transition: opacity 0.8s ease;
}

.slide-up .back-to-top-header {
    opacity: 1;
    z-index: 9;
}

.back-to-top-header.display-active {
    transform: translateY(0px);
    opacity: 1;
    -webkit-transition: transform 0.6s ease-out, opacity 0.3s ease-in-out;
    -moz-transition: transform 0.6s ease-out, opacity 0.3s ease-in-out;
    -o-transition: transform 0.6s ease-out, opacity 0.3s ease-in-out;
    -ms-transition: transform 0.6s ease-out, opacity 0.3s ease-in-out;
    transition: transform 0.6s ease-out, opacity 0.3s ease-in-out;
}

.audio-control-bar {
    cursor: pointer;
    position: absolute;
    /*width: 135px;*/
    width: auto;
    /*right: 10px;*/
    right: 0px;
    top: 42px;
    z-index: -1;
    line-height: 1em;
    /*padding: 10px 15px 8px 15px;*/
    background: rgba(255, 255, 255, 0.75);
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'HelveticaNeueLTStd-Bd';
    color: #000;
    opacity: 0;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
}

.audio-control-bar.playing {
    transform: translateY(0px);
    opacity: 1;
    -webkit-transition: transform 0.6s ease-out, opacity 0.3s ease-in-out;
    -moz-transition: transform 0.6s ease-out, opacity 0.3s ease-in-out;
    -o-transition: transform 0.6s ease-out, opacity 0.3s ease-in-out;
    -ms-transition: transform 0.6s ease-out, opacity 0.3s ease-in-out;
    transition: transform 0.6s ease-out, opacity 0.3s ease-in-out;
}

.audio-control-bar.paused {
    transform: translateY(0px);
    opacity: 1;
    -webkit-transition: transform 0.6s ease-out, opacity 0.3s ease-in-out;
    -moz-transition: transform 0.6s ease-out, opacity 0.3s ease-in-out;
    -o-transition: transform 0.6s ease-out, opacity 0.3s ease-in-out;
    -ms-transition: transform 0.6s ease-out, opacity 0.3s ease-in-out;
    transition: transform 0.6s ease-out, opacity 0.3s ease-in-out;
}

.header.header-collapsed .audio-control-bar,
.header.header-collapsed .back-to-top-header {
    bottom: 0;
    top: 5px;
    z-index: 34;
    background-color: transparent;
    padding: 0;
}

.header.header-collapsed .back-to-top-header {
    right: 110px;
}

.audio-control-bar span,
.audio-control-bar .audio-icon,
.back-to-top-header span,
.back-to-top-header .bar-icon {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    line-height: 31px;
}

.audio-control-bar span,
.back-to-top-header span {
    margin-right: 5px;
}

.audio-control-bar .audio-icon {
    font-size: 1.5em;
    display: none;
    position: relative;
    top: -1px;
}

.audio-control-bar.playing,
.audio-control-bar.paused,
.back-to-top-header {
    padding: 10px 15px 8px 15px;
}

.audio-control-bar.playing .audio-icon.fa-volume-up,
.back-to-top-header .bar-icon {
    display: inline-block;
}

.audio-control-bar.paused .audio-icon.fa-volume-off {
    display: inline-block;
}

.fa-volume-off:before {
    content: "\f026";
    float: right;
    margin-left: 10px;
    display: inline-block;
    line-height: 31px;
    position: relative;
    top: 0px;
}

.bar-icon:before {
    float: right;
    margin-left: 10px;
    display: inline-block;
    font-size: 1.5em;
    position: relative;
    top: -1px;
    /*display: none;*/
}

.bar-icon.show-ib {
    display: inline-block;
}

.audio-control-bar label,
.back-to-top-header label {
    font-size: 13px;
    font-family: 'HelveticaNeueLTStd-Bd';
    vertical-align: middle;
    cursor: pointer;
    /*line-height: 1.5em;*/
    line-height: 31px;
    /*padding-top: 3px;*/
    margin-bottom: 0px !important;
}

.fa-volume-up:before {
    content: "\f028";
    float: right;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    top: 0px;
}

.story-mode-logo-wrapper {
    display: block;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0;
    transform: translate3d(0px, 0px, 0px);
    transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
}

#header.slide-up .story-mode-logo-wrapper {
    transform: translate3d(0px, -7px, 0px);
    opacity: 1;
    transition: opacity 0.5s ease 0.8s, transform 0.5s ease 0.8s;
}

#header .story-mode-logo-wrapper img {
    height: 98px;
}

.redirect-trigger {
    cursor: pointer;
}

.mobile-upper-header-section {
    display: none;
    text-align: left;
    padding: 5px 5%;
    z-index: 1100;
}

.mobile-upper-header-section .logo-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 60%;
}

.mobile-upper-header-section .logo-wrapper img {
    width: auto;
    max-width: 100%;
    height: 60px;
}

.mobile-upper-header-section .header-search-bar {
    margin-top: 0px;
    display: table-cell;
    vertical-align: middle;
    width: 30%;
    font-size: 12px;
}

.mobile-upper-header-section .header-search-bar input {
    padding: 7px 10px;
    padding-top: 8px;
    border-radius: 0;
}

.mobile-upper-header-section .header-search-bar .input-placeholder {
    top: 22px;
    left: 10px;
}

.mobile-upper-header-section .hamburger-menu {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    position: relative;
    cursor: pointer;
}

.mobile-upper-header-section .hamburger-menu .hamburger-bar {
    width: 80%;
    max-width: 30px;
    display: inline-block;
    height: 2px;
    background: #919291;
    position: absolute;
    right: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

.mobile-upper-header-section .hamburger-menu.active-menu .hamburger-bar {
    background: #2d2d2d;
}

#mobile-menu {
    display: none;
    position: absolute;
    top: 70px;
    right: 5%;
    z-index: 1100;
    background: #2d2d2d;
    width: auto;
    min-width: 200px;
    text-align: left;
    padding: 7px 0px;
    overflow: auto;
}

#mobile-menu a {
    display: block;
    color: #fff;
    padding: 7px 10px;
}

.nav-cell {
    min-height: 50px;
}

@media (min-width: 1366px) {

    .header-section-content .issue-menu-cell {
       width:221px;
    }
    .header-section-content .eco-main-logo-wrapper {
        text-align: center;
        border-bottom: 2px solid #919291;
        /*width: 750px;*/
        height: 144px;
        margin: 0 auto;
    }
    .header-section-content .eco-main-logo-wrapper img {
        width: 100%;
        max-width: 330px;
        height: auto;
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }
    .header-section-content .main-menu-cell {
        /*width: 740px;*/
        font-size: 14px;
    }

    .header-section nav {
        /*width: 750px;*/
        text-align: center;
    }
    .header-section .table-row-wrap {
        /*width: 992px;*/
        /*display: flex;*/
        margin: 0 auto;
    }
    .follow-link {
        display: block !important;
        padding: 8px 0px !important;
        margin: 0px 6px !important;
        font-size: 11px !important;
    }
    .header-section-content .issue-menu-cell .issue-cell img {
        width: auto;
        display: block;
        height: auto;
    }
    .nav-cell {
        position: relative;
        /*left: 30px;*/
        left: 5px;
    }
    .header-section-content .issue-menu-cell .issue-cell img {
        width: 100%;
        display: block;
        height: 100%;
    }
}

@media(max-width: 1200px) {
    /* .upper-header-section.header-section .main-menu-cell nav a {
        padding: 5px 4px;
        margin: 0 4px;
        font-size: 13px;
    } */
}

@media only screen and (max-width: 1050px) {
    .upper-header-section {
        display: none;
    }
    .mobile-upper-header-section {
        display: block;
    }
    .sponsor-logo {
        height: 2.3em;
    }
    .audio-control-bar,
    .back-to-top-header {
        bottom: 0 !important;
        top: 3px !important;
        z-index: 34 !important;
        background-color: transparent !important;
        padding: 0 !important;
    }
    .back-to-top-header {
        right: 110px;
    }
    .mobile-upper-header-section .logo-wrapper img {
        height:45px;
    }
    .mobile-upper-header-section .header-search-bar .input-placeholder {
        top:10px;
    }
}

@media only screen and (max-width: 1024px) and (max-height: 740px) {
    .upper-header-section {
        display: none;
    }
    .mobile-upper-header-section {
        display: block;
    }
    .sponsor-logo {
        height: 2.3em;
    }
    .audio-control-bar,
    .back-to-top-header {
        bottom: 0 !important;
        top: 3px !important;
        z-index: 34 !important;
        background-color: transparent !important;
        padding: 0 !important;
    }
    .mobile-upper-header-section .logo-wrapper {
        width: 50%;
    }
    .mobile-upper-header-section .logo-wrapper img {
        height: 45px;
    }
    .mobile-upper-header-section .header-search-bar {
        width: 40%;
    }
    .mobile-upper-header-section .header-search-bar input {
        padding: 5px 10px;
        padding-top: 6px;
    }
    .mobile-upper-header-section .header-search-bar {
        font-size: 10px;
    }
    .mobile-upper-header-section .header-search-bar .input-placeholder {
        top: 17px;
    }
    #mobile-menu {
        top: 55px;
    }
    .sponsor-label,
    .sponsor-logo {
        font-size: 10px;
    }
    .audio-control-bar,
    .back-to-top-header {
        font-size: 11px;
        top: 1px !important;
    }
    .audio-control-bar .audio-icon,
    .back-to-top-header .bar-icon {
        top: -1px;
    }
    .hamburger-menu .hamburger-bar {
        bottom: 50% !important;
    }
    .hamburger-menu .hamburger-bar:first-child {
        bottom: 70% !important;
    }
    .hamburger-menu .hamburger-bar:last-child {
        bottom: 30% !important;
    }
}

@media(max-width: 740px) {
    .mobile-upper-header-section .logo-wrapper {
        width: 50%;
    }
    .mobile-upper-header-section .logo-wrapper img {
        height: 45px;
    }
    .mobile-upper-header-section .header-search-bar {
        width: 40%;
    }
    .mobile-upper-header-section .header-search-bar input {
        padding: 5px 10px;
        padding-top: 6px;
    }
    .mobile-upper-header-section .header-search-bar {
        font-size: 10px;
    }
    .mobile-upper-header-section .header-search-bar .input-placeholder {
        top: 17px;
    }
    #mobile-menu {
        top: 55px;
    }
    .sponsor-label,
    .sponsor-logo {
        font-size: 10px;
    }
    .back-to-top-header {
        right: 95px !important;
    }
    .audio-control-bar,
    .back-to-top-header {
        font-size: 12px;
        top: -1px !important;
        /*width: 100px;*/
    }
    .bar-icon:before {
        /*font-size: 18px;*/
        top: 0px;
    }
    .bar-icon:before,
    .fa-volume-up:before,
    .fa-volume-off:before {
        margin-left: 5px;
    }
    .audio-control-bar {
        top: 0px;
    }
    .audio-control-bar label,
    .back-to-top-header label {
        font-size: 11px;
        letter-spacing: .05em;
    }
    .audio-control-bar .audio-icon {
        /*top: -1px;*/
    }
    .hamburger-menu .hamburger-bar {
        bottom: 50% !important;
    }
    .hamburger-menu .hamburger-bar:first-child {
        bottom: 70% !important;
    }
    .hamburger-menu .hamburger-bar:last-child {
        bottom: 30% !important;
    }
}

@media(max-width: 600px) {
    .audio-control-bar label,
    .back-to-top-header label {
        display: none;
    }
    .back-to-top-header {
        right: 25px !important;
    }
    .bar-icon:before {
        /*font-size: 17px;*/
        top: 0px;
    }
}

@media(max-width: 420px) {
    .lower-header-section {
        padding: 7px 5%;
        padding-right: 5px;
    }
    .sponsor-label-wrapper {
        padding-left: 5px;
    }
    .audio-control-bar,
    .back-to-top-header {
        width: 30px;
    }
}

@media(max-width: 350px) {
    .back-to-top-header {
        display: none !important;
    }
}


/*GENERAL STYLES*/

.margin-bot {
  margin-bottom: 30px;
}

.cursorPointer {
  cursor: pointer;
}

.fp-scroller {
  height: 100%;
}

.section-footer .fp-scroller {
  height: auto;
}

.fullpage-wrapper {
  width: 100% !important;
  transform: none !important;
}

.fp-section {
  width: 100% !important;
  /*position: absolute;*/
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  background-color: #000;
}

.fp-section.active {
  visibility: visible;
  opacity: 1;
}

fp-slidescontainer {
  width: 100% !important;
  transform: none !important;
}

.fp-slide {
  width: 100% !important;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.fp-slide.active {
  visibility: visible;
  opacity: 1;
}

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.v-top {
  vertical-align: top;
}

.v-middle {
  vertical-align: middle;
}

.v-bottom {
  vertical-align: bottom;
}

.table-wrap {
  display: table;
}

.table-row-wrap {
  display: table-row;
}

.table-cell-wrap {
  display: table-cell;
}

.relative-wrapper {
  position: relative;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ui-loader.ui-corner-all.ui-body-a.ui-loader-default {
  display: none !important;
}

/*body {
  position: relative;
  font-family: 'HelveticaNeueLTStd-Lt', 'Helvetica', 'Tahoma', sans-serif;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  -ms-touch-action: none;
}*/

/*body.home-panel #navigation-bullet-wrapper {
  opacity: 1;
  -webkit-transition: opacity 1.5s ease-in-out;
  transition: opacity 1.5s ease-in-out;
  overflow: hidden;
}*/

#navigation-bullet-wrapper {
  opacity: 1;
  -webkit-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}

/*body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}*/

#clip-path-references {
  position: absolute;
  z-index: -10;
  bottom: 0;
}

#audio-repository,
#image-preload-repository {
  opacity: 0;
  position: absolute;
  bottom: -50px;
  z-index: -10;
  line-height: 1px;
}

#image-preload-repository img {
  width: 1px;
  height: 1px;
  opacity: 0;
  position: absolute;
}

.section-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  background-color: #252525;
  height: 100vh;
  max-height: 100vh;
  -ms-touch-action: none;
}

.section-wrapper.semi-active-section {
  z-index: 2;
}

.section-wrapper.active-section {
  z-index: 3;
}

.section-wrapper.active-section.normal-scrolling {
  overflow-y: auto;
  overflow-x: hidden;
}

.landing-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
}

.landing-panel .hero-background {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.landing-section .dark-mask {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  background-color: #000;
  opacity: 0.25;
}

.ie-fallback {
  display: none;
}

.landing-panel .hero-background .hero-background-image-wrapper {
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.landing-panel .hero-background .hero-background-image-wrapper.non-ie {
  left: 0;
  right: 0;
}

.landing-panel
  .hero-background
  .hero-background-image-wrapper.ie-fallback:first-child {
  width: 50%;
  left: 0;
}

.landing-panel
  .hero-background
  .hero-background-image-wrapper.ie-fallback:last-child {
  width: 50%;
  left: 50%;
  right: 0;
}

.landing-panel .hero-background .hero-background-image-wrapper.active-bg-img {
  z-index: 4;
}

.landing-panel .hero-background .hero-background-image {
  height: 100%;
  width: 100%;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

/*.landing-panel .hero-background .hero-background-image-wrapper:not(.active-bg-img) .hero-background-image {
    background: url('../images/hero-banner.jpg') no-repeat right top;
    background-size: cover;
    /* margin-top: 165px;
    height: calc(100vh - 165px); 
} */

.landing-panel .hero-text {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  z-index: 3;
  top: 0;
}

.landing-panel .hero-text .table-cell-wrap {
  /*padding-top: 5%;*/
}

.landing-panel .hero-text h1 {
  display: inline-block;
  border: 1px solid #fff;
  font-size: 60px;
  font-family: 'OpenSans-Extrabold';
  /*font-family: 'HelveticaNeueLTStd-Bd';*/
  /*font-family: 'Open Sans';
    font-weight: 700;*/
  font-style: italic;
  line-height: 1em;
  letter-spacing: -1.5px;
  color: #fff;
  padding: 20px 20px;
  margin-top: 0px;
  /*TEST*/
  border: 0;
  box-shadow: inset 0 0 0 1px transparent;
  position: relative;
  vertical-align: middle;
  box-sizing: border-box;
  -webkit-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
}

.landing-panel .hero-text h1::before,
.landing-panel .hero-text h1::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

.landing-panel .hero-text h1::before {
  top: 0;
  left: 0;
}

.landing-panel .hero-text h1::after {
  bottom: 0;
  right: 0;
}

.landing-panel .hero-text h1.draw::before,
.landing-panel .hero-text h1.draw::after {
  width: 100%;
  height: 100%;
}

.landing-panel .hero-text h1.draw::before {
  border-top-color: #fff;
  border-right-color: #fff;
  -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  -ms-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.landing-panel .hero-text h1.draw::after {
  border-bottom-color: #fff;
  border-left-color: #fff;
  -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
    height 0.25s ease-out 0.75s;
  -ms-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
    height 0.25s ease-out 0.75s;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
    height 0.25s ease-out 0.75s;
}

.landing-panel .hero-text h1 .tradition-text {
  margin-left: 1em;
  color: #cecece;
}

.storyline-select-wrapper {
  display: block;
  margin: auto;
  padding: 3em 5px;
}

.storyline-option-wrapper {
  display: inline-block;
  margin: auto;
  vertical-align: middle;
  cursor: pointer;
}

.storyline-option-wrapper:first-child {
  margin-right: 80px;
}

.storyline-option-wrapper .option-button-outer,
.storyline-option-wrapper span {
  display: inline-block;
  vertical-align: middle;
}

.storyline-option-wrapper .option-button-outer {
  padding: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 0px 7px #fff;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.storyline-option-wrapper .option-button-inner {
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  height: 10px;
  width: 10px;
}

.storyline-option-wrapper.active-option .option-button-inner {
  background: #ce0009;
}

.storyline-option-wrapper:not(.active-option):hover .option-button-outer {
  box-shadow: 0px 0px 10px #000;
}

.storyline-option-wrapper:not(.active-option):hover .option-button-inner {
  background: #dfdfdf;
}

/*
*** HERO CONTENT*** 
*/

.storyline-option-wrapper .option-label {
  font-size: 24px;
  /*font-family: 'HelveticaNeueLTStd-Lt';*/
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.5px;
  position: relative;
  top: 2px;
  margin-left: 5px;
}

.landing-panel .hero-text h3 {
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Cormorant Garamond';*/
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 28px;
  margin: 0px auto 0.5em auto;
}

p.landing-description-text {
  display: block;
  margin: auto;
  max-width: 700px;
  font-size: 18px;
  line-height: 1.35em;
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'HelveticaNeueLTStd-Lt';*/
}

.storyline-start-wrapper {
  padding: 2% 5px;
  display: block;
  margin: auto;
  /*width: 70px;*/
  width: 5%;
  min-width: 50px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  z-index: 5;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.storyline-start-wrapper:hover {
  opacity: 0.65;
}

.storyline-start-wrapper img {
  width: 100%;
  height: auto;
}

.storyline-switch-wrapper {
  position: absolute;
  z-index: 4;
  top: 0;
  bottom: 0;
  width: 100%;
}

.storyline-switch-trigger {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background: transparent;
  cursor: pointer;
}

.storyline-switch-trigger.left-trigger {
  left: 0;
}

.storyline-switch-trigger.right-trigger {
  right: 0;
}

.background-panel {
  width: 100%;
  /*height: 75vh;*/
  height: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
  /*background-color: #808080;*/
  background-color: transparent;
  text-align: center;
  position: absolute;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.hotspot {
  display: none;
  position: absolute;
  width: 460px;
  top: 0;
  height: 75%;
}

.left-hotspot {
  left: 0;
}

.right-hotspot {
  right: 0;
}

.dark-overlay {
  /*display: none;*/
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 75%;
  background-color: #000;
  opacity: 0;
  pointer-events: none;
  z-index: -2;
}

.cross-storyline-click-panel {
  width: 35%;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 5;
  background: transparent;
}

.cross-storyline-click-panel.pos-left {
  left: 0;
}

.cross-storyline-click-panel.pos-right {
  right: 0;
}

.bg-panel-shadow-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  /*overflow: hidden;*/
  width: 100%;
  height: 100%;
  z-index: 3;
}

.bg-panel-shadow-container.left-shadow {
  /*-webkit-clip-path: url('#modernLineShadowClip');
  clip-path: url('#modernLineShadowClip');*/
  /*-webkit-clip-path: polygon(0 0, 90% 0, 75% 100%, 0% 100%);*/
  /*clip-path: polygon(0 0, 90% 0, 75% 100%, 0% 100%);*/
  transition: all 0.5s ease;
}

.bg-panel-shadow-container.right-shadow {
  /*-webkit-clip-path: url('#traditionalLineShadowClip');
  clip-path: url('#traditionalLineShadowClip');*/
  -webkit-clip-path: polygon(200px 0, 100% 0, 100% 100%, 400px 100%);
  clip-path: polygon(200px 0, 100% 0, 100% 100%, 400px 100%);
  transition: all 0.5s ease;
}

.story-section.peel .bg-panel-shadow-container.right-shadow {
  -webkit-clip-path: polygon(200px 0, 100% 0, 100% 100%, 450px 100%);
  clip-path: polygon(200px 0, 100% 0, 100% 100%, 450px 100%);
}

.bg-panel-shadow-container.active-shadow {
  z-index: 4;
}

.background-panel .bg-panel-img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-color: #000;
  /*-webkit-transition: all 0.5s ease, opacity 0s ease-in-out;
  -moz-transition: all 0.5s ease, opacity 0s ease-in-out;
  -o-transition: all 0.5s ease, opacity 0s ease-in-out;
  -ms-transition: all 0.5s ease, opacity 0s ease-in-out;
  transition: all 0.5s ease, opacity 0s ease-in-out;*/
}

.background-panel .bg-panel-img.active-img {
  z-index: 5;
}

.background-panel .bg-panel-img.active-img {
  left: 0;
}

.background-panel.ie-fallback .bg-panel-img.active-img.right-img {
  left: 17.7%;
  box-shadow: -7px 4px 12px rgba(0, 0, 0, 0.75);
}

.background-panel.ie-fallback .bg-panel-img.inactive-img.right-img {
  left: 17.7%;
}

.background-panel.ie-fallback .bg-panel-img.active-img.left-img {
  left: -17.7%;
  box-shadow: 7px 4px 12px rgba(0, 0, 0, 0.75);
}

.background-panel.ie-fallback .bg-panel-img.inactive-img.left-img {
  left: -17.7%;
}

.background-panel .bg-panel-img.inactive-img {
  cursor: pointer;
  z-index: 3;
  /*filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");*/
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  opacity: 0.4;
}

.background-panel .bg-panel-img.transition-grayscale {
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.background-panel .bg-panel-img.no-filter {
  filter: none;
}

.background-panel .bg-panel-img .clip-img {
  width: 100%;
  height: 100%;
  /*object-fit: cover;*/
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.background-panel .bg-panel-img.left-img img.clip-img {
  left: 0;
}

.background-panel .bg-panel-img.right-img img.clip-img {
  right: 0;
}

.background-panel .bg-panel-img.inactive-img img.clip-img {
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}

.story-section.peel .background-panel .bg-panel-img.inactive-img img.clip-img {
  -ms-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

.story-section.peel
  .background-panel
  .bg-panel-img.inactive-img
  img.clip-img.no-scale {
  -ms-transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
  transform: scale(1) !important;
}

.background-panel .bg-panel-img.left-img.active-img {
  /*-webkit-clip-path: url('#modernLineClip');
  clip-path: url('#modernLineClip');*/
  /*-webkit-clip-path: polygon(0 0, 90% 0, 75% 100%, 0% 100%);*/
  /*clip-path: polygon(0 0, 90% 0, 75% 100%, 0% 100%);*/
}

/*.background-panel .bg-panel-img.right-img.active-img {
  -webkit-clip-path: polygon(200px 0, 100% 0, 100% 100%, 400px 100%);
  clip-path: polygon(200px 0, 100% 0, 100% 100%, 400px 100%);
  transition: all 0.5s ease;
}

.story-section.peel.background-panel .bg-panel-img.right-img.active-img {
  -webkit-clip-path: polygon(200px 0, 100% 0, 100% 100%, 450px 100%);
  clip-path: polygon(200px 0, 100% 0, 100% 100%, 450px 100%);
}*/

.background-panel .bg-panel-img .fold-img {
  position: absolute;
  max-width: 250px;
  bottom: 0;
  height: auto;
  z-index: 5;
  cursor: pointer;
}

.background-panel .bg-panel-img.left-img .fold-img {
  right: 338px;
  bottom: -11px;
  width: 125px;
  transition: width 0.5s ease, bottom 0.5s ease, right 0.5s ease;
}

.story-section.peel .background-panel .bg-panel-img.left-img .fold-img {
  width: 175px;
  bottom: -34px;
  right: 359px;
}

.background-panel .bg-panel-img.right-img .fold-img {
  /*right: calc(70vw - 12px);*/
  left: 335px;
  bottom: -11px;
  width: 125px;
  transition: bottom 0.5s ease, width 0.5s ease, left 0.5s ease;
}

.story-section.peel .background-panel .bg-panel-img.right-img .fold-img {
  width: 175px;
  bottom: -30px;
  left: 356px;
}

.story-section .background-panel.ie-fallback .fold-img {
  display: none !important;
}

.background-panel .bg-panel-img.active-img .clip-img.img-item {
  z-index: 1;
}

.background-panel .bg-panel-img.active-img .clip-img.img-item.active-img-item {
  z-index: 3;
}

.bottom-panel {
  /*clear: both;*/
  width: 100%;
  max-width: 1360px;
  /*height: 25vh;*/
  height: 75%;
  margin: 0px auto;
  position: relative;
  top: 49px;
}

p.button-style a {
  color: #ffffff !important;
  text-decoration: none;
}

.button-style {
  font-family: 'Avenir';
  background-color: #51478d;
  max-width: 320px;
  font-size: 16px;
  padding: 0px 15px 5px 15px !important;
  margin: 10px 0 24px !important;
  font-weight: 300;
  border: 1px solid #000;
  float: none;
  display: inline-block;
  position: relative;
  text-align: center;
}

.button-style:hover {
  background-color: transparent;
}

.right-section-half {
  width: 50%;
  /* float: right; */
  text-align: center;
}

.right-section-half img {
  max-height: 400px;
  object-fit: cover;
  width: 100% !important;
  padding: 0px 20px;
  margin-right: 30px;
  margin-bottom: 1em;
}

.left-section-half {
  /* width: 50%; */
  float: left;
  text-align: center;
}

.left-section-half img {
  max-height: 400px;
  object-fit: cover;
  width: 100% !important;
  padding: 0px 20px;
  margin-right: 30px;
  margin-bottom: 1em;
}

.text-panel {
  width: 35%;
  /*height: 100vh;*/
  /*height: 45vh;*/
  /*height: 200%;*/
  height: auto;
  max-height: 300%;
  /*background-color: rgba(84, 7, 7, 0.84);*/
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  text-align: left;
  padding: 0;
  margin-left: 5%;
}

.content-wrapper {
  color: #fff;
}

.text-panel .text-content {
  height: 97%;
  /*overflow: hidden;*/
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 22px 25px 0px 25px;
}

.text-panel .text-content .table-wrap {
  height: 100%;
  width: 100%;
}

.article-title {
  line-height: 1.2em;
  font-size: 30px;
  font-family: 'Cormorant Garamond';
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  clear: both;
}

.article-scrollable {
  opacity: 1;
  position: relative;
  top: 0px;
  margin-right: 30px;
}

.article-caption,
.content-wrapper p {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: normal;
  font-family: 'HelveticaNeueLTStd-Lt';
  line-height: 1.5em;
}

.content-wrapper p {
  /*margin-bottom: 1em;*/
  margin-bottom: 30px;
}

.content-wrapper p.article-caption,
.article-expanded-content .table-wrap .table-cell-wrap p:last-child {
  margin-bottom: 5px;
}

.text-panel .text-content a.article-expand-trigger,
a.article-collapse-trigger {
  position: relative;
  top: 0px;
  color: #fff;
  background-color: transparent;
  text-decoration: none !important;
  display: inline-block;
  padding: 10px 20px 8px 20px;
  font-size: 18px;
  margin: 10px auto 10px auto;
  letter-spacing: 1px;
  border: 1px solid #fff;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.article-collapse-trigger,
a.article-collapse-trigger {
  display: none;
  opacity: 0;
  top: -20px;
}

.content-wrapper a:active,
.content-wrapper a:focus,
.content-wrapper a:hover {
  text-decoration: none;
  color: #fff;
}

.text-panel .text-content a.article-expand-trigger:hover,
a.article-collapse-trigger:hover {
  background-color: #d5a72b;
  border: 1px solid #d5a72b;
}

.article-arrow-point {
  position: absolute !important;
  top: 8px;
  left: 0px;
  right: 0px;
  text-align: center;
  cursor: pointer;
  color: #7a7a7a;
  font-size: 17px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  line-height: 1em;
  position: relative;
  /*top: -5px;*/
}

.article-arrow-point:hover {
  color: #d5a72b;
}

.article-label {
  color: #fff;
  font-size: 16px;
  display: table;
  width: 100%;
  text-align: left;
}

.article-label > div {
  display: table-row;
}

.article-category {
  text-transform: uppercase;
  font-family: 'HelveticaNeueLTStd-Bd';
  letter-spacing: 1px;
  color: #999999;
  display: table-cell;
  font-size: 16px;
  position: relative;
  top: 2px;
}

.article-label .article-type {
  display: table-cell;
  text-align: right;
  text-transform: lowercase;
  letter-spacing: 0.2px;
  font-weight: normal;
  font-family: 'HelveticaNeueLTStd-Lt';
  color: #999999;
  font-size: 18px;
}

.article-label .article-type b {
  font-family: 'Open Sans';
  color: #ffffff;
  font-weight: 600;
}

.article-expanded-content {
  /* display: none; */
  /*margin-top: 14px;*/
}

.article-expanded-content h2 {
  font-size: 32px;
  font-family: 'Cormorant Garamond';
  font-weight: 400;
  color: #d5a72b;
  letter-spacing: 0.5px;
  /*margin: 0.8em 0;*/
  margin: 0px 0px 33px 0px;
  padding: 0;
  line-height: 1.05em;
}

.article-expanded-content .table-wrap {
  width: 100%;
  margin: 32px auto 0;
}

.article-expanded-content .table-cell-wrap {
  width: 50%;
}

.article-expanded-content .table-row-wrap .table-cell-wrap:first-child {
  padding-right: 10px;
}

.article-expanded-content .table-cell-wrap img {
  width: 100%;
  display: block;
  /* height: 100%; */
  max-width: 100%;
  object-fit: cover;
}

.city-info-wrapper {
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  margin-bottom: 50px;
}

.city-info-wrapper .city-info {
  position: relative;
}

.city-info-wrapper .left-section-half,
.city-info-wrapper .right-section-half,
.city-info-wrapper .city-info {
  width: 50%;
}

.button-style-abs {
  height: 46px;
  position: absolute;
  bottom: 0;
}

.padding-bottom {
  padding-bottom: 46px;
}

.no-margin {
  margin: 0 !important;
}

.city-info-wrapper .left-section-half img {
  padding-left: 0;
}

.city-info-wrapper .right-section-half img {
  padding-right: 0;
}

.slimScrollDiv {
  /*opacity: 0; */
}

.slimScrollDiv .article-scrollable {
  padding-right: 10px;
}

.thumbnail-panel {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 8;
  height: 100%;
  width: 70%;
  background-color: transparent;
  text-align: center;
}

.thumbnail-panel > .table-wrap {
  height: 100%;
  width: 100%;
}

.thumbnail-panel .thumbnail-wrapper {
  width: 28%;
  max-width: 28%;
  /*margin: 2vh 1%;*/
  /*max-height: 20vh;*/
  margin: 1% 1%;
  height: 15vh;
  max-height: 15vh;
  /*height: 100%;*/
  background-color: transparent;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  cursor: pointer;
  /*-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;*/
  padding-bottom: 10px;
  border-bottom: 5px solid transparent;
}

.thumbnail-panel .thumbnail-wrapper.active-thumbnail {
  border-bottom: 5px solid #959595;
}

.thumbnail-panel .thumbnail-wrapper > .thumbnail-bg {
  position: absolute;
  top: 0;
  bottom: 0px;
  width: 100%;
  transform-origin: center;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.thumbnail-panel .thumbnail-wrapper:hover .thumbnail-bg {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.thumbnail-panel .thumbnail-wrapper img {
  width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  padding-bottom: 10px;
  border-bottom: 5px solid transparent;
  /*-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;*/
}

.thumbnail-panel .thumbnail-wrapper.active-thumbnail img {
  border-bottom: 5px solid #959595;
}

#expanding-content-modal {
  position: relative;
  z-index: -11;
  top: 100vh;
  width: 100%;
  max-height: 100vh;
  opacity: 0;
  background: rgba(4, 4, 37, 0.85);
  max-width: 1360px;
  margin: auto;
  padding: 30px;
}

#modal-background-mask {
  position: fixed;
  z-index: -10;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.35);
}

#expanding-content-modal .article-title {
  line-height: 1em;
  font-size: 42px;
  margin-bottom: 0.7em;
  padding-top: 1em;
}

#expanding-content-modal .article-expanded-content h2 {
  padding: 0 0.5em;
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 0px;
}

#expanding-content-modal .article-caption {
  margin-bottom: 30px;
  position: relative;
  top: 3px;
}

#expanding-content-modal .article-caption,
#expanding-content-modal p {
  font-size: 18px;
  line-height: 1.65em;
  letter-spacing: 1px;
}

#expanding-content-modal .modal-top-panel {
  position: relative;
  text-align: center;
}

#expanding-content-modal .article-arrow-point {
  top: 3px;
  font-size: 25px;
}

#expanding-content-modal .article-label {
  position: absolute;
  top: 0px;
}

#expanding-content-modal .article-label .article-category {
  text-align: right;
  width: 50%;
  padding-right: 5%;
  font-size: 18px;
}

#expanding-content-modal .article-label .article-type {
  text-align: left;
  padding-left: 5%;
  font-size: 19px;
}

#expanding-content-modal a.article-collapse-trigger {
  position: absolute;
  right: 30px;
  font-size: 20px;
  font-weight: 700;
  z-index: 5;
}

#expanding-content-modal .slimScrollDiv .article-scrollable {
  padding-right: 20px;
}

.slimScrollBar {
  background: #5d5d5d !important;
  opacity: 0.85 !important;
}

#expanding-content-modal .locations-wrapper {
}

#expanding-content-modal .locations-wrapper ul {
  padding-left: 20px;
}

#expanding-content-modal .locations-wrapper ul a {
  color: #fff;
  text-decoration: underline;
}

#expanding-content-modal .locations-wrapper > p {
  display: block;
  margin-bottom: 0.5em;
}

#expanding-content-modal .locations-wrapper abbr {
  display: inline-block;
  margin-right: 7px;
}

#expanding-content-modal .locations-wrapper ul p {
  margin-bottom: 0px;
}

#navigation-bullet-wrapper {
  position: fixed;
  /*bottom: 0;*/
  top: calc(214px + 48px) !important;
  left: auto;
  right: 5%;
  height: auto;
  /*z-index: 900;*/
  z-index: 9;
  background: transparent;
  width: auto;
  font-size: 0;
}

#navigation-bullet-wrapper .navigation-label {
  color: #fefefe;
  font-size: 12px;
  height: 12px;
  font-family: 'Avenir';
  font-weight: 300;
  margin: 0 0 0 0;
  display: inline-block;
  text-transform: uppercase;
  padding: 0 0 0 20px;
  cursor: pointer;
  opacity: 1;
  text-align: center;
  position: relative;
}

#navigation-bullet-wrapper .navigation-label:first-child {
  padding: 0;
}

#navigation-bullet-wrapper .navigation-label:before {
  content: '';
  position: absolute;
  top: 7px;
  left: 0;
  width: calc(100% + 0.25px);
  height: 3px;
  background-color: #fefefe;
  opacity: 0.54;
  display: block;
  z-index: 1;
}

#navigation-bullet-wrapper .navigation-label span {
  display: block;
}

#navigation-bullet-wrapper .navigation-bullet {
  background: #412c75;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  opacity: 1;
  margin: 0 0 2px;
  display: inline-block;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  cursor: pointer;
  z-index: 2;
  position: relative;
}

#navigation-bullet-wrapper .navigation-bullet:hover {
  background: #95009e;
}

#navigation-bullet-wrapper .navigation-bullet.active-bullet {
  background: #95009e;
}

#social-share-wrapper {
  position: fixed;
  /*bottom: 0;*/
  top: 50%;
  right: 0px;
  height: 100%;
  z-index: 50;
  background: transparent;
  width: auto;
  transition: 0.8s ease 1.6s;
}

#social-share-wrapper a {
  background: transparent;
  margin: 0px auto;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  cursor: pointer;
  text-decoration: none;
  display: block;
  opacity: 0.85;
}

#social-share-wrapper a img {
  width: 35px;
  height: auto;
}

#social-share-wrapper a:hover {
  text-decoration: none;
  opacity: 1;
}

#social-share-wrapper a:focus,
#social-share-wrapper a:active {
  text-decoration: none;
}

.story-switch-trigger.pseudo-clickthrough {
  height: 100%;
  bottom: 0;
  position: absolute;
  top: 0;
  width: 33%;
  min-width: 100px;
  background: transparent;
  z-index: 12;
  cursor: pointer;
}

.story-switch-trigger.pseudo-clickthrough.left-pc {
  left: 0;
}

.story-switch-trigger.pseudo-clickthrough.right-pc {
  right: 0;
}

@media (max-width: 1366px) {
  .story-switch-trigger.pseudo-clickthrough {
    display: block;
  }
}

.story-section {
  overflow: hidden;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.story-section::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #aaa;
}

.story-section::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.story-section::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

/*
*** EDITED CSS ***
*/

.fancybox-infobar {
  display: none !important;
}

.fancybox-button {
  display: none !important;
}

.fancybox-button--close {
  display: block !important;
  float: right;
}

/*.enlarge-wrap {
  display: block;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 5;
}*/

.enlarge-button-container {
  position: relative;
  margin: auto;
  height: 100%;
  width: 100%;
  max-width: 1360px;
}

.enlarge-wrap {
  display: block;
  position: absolute;
  bottom: 10px;
  z-index: 11;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.enlarge-wrap.on-transition {
  opacity: 0;
}

.enlarge-wrap.right-wrap {
  right: 35%;
}

.enlarge-wrap.left-wrap {
  left: 35%;
}

a.enlarge-style {
  color: #fff;
  letter-spacing: 0.05em;
  text-decoration: none;
  outline: 0;
}

a.enlarge-style:hover {
  text-decoration: none;
  outline: 0;
}

a.enlarge-style:focus {
  text-decoration: none;
  outline: 0;
}

a.enlarge-style:active {
  text-decoration: none;
  outline: 0;
}

img.enlarge-img {
  width: 35px;
}

.element-wrap {
  margin-left: 36px;
}

img.textwrap-img-right {
  float: right;
  display: block;
  width: 50% !important;
  margin-left: 30px;
  margin-bottom: 5px;
}

img.textwrap-img-left {
  float: left;
  width: 50% !important;
  margin-right: 30px;
  margin-bottom: 1em;
}

.fancybox-button--close {
  float: right !important;
  width: 80px !important;
  height: 48px !important;
  right: 30px !important;
  font-weight: 700 !important;
  z-index: 5 !important;
  text-decoration: none !important;
  color: #fff !important;
  position: relative !important;
  top: 0px !important;
  background-color: transparent !important;
  text-decoration: none !important;
  display: inline-block !important;
  padding: 0 !important;
  font-size: 18px !important;
  margin: 10px auto 10px auto !important;
  letter-spacing: 1px !important;
  border: 1px solid #fff !important;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.fancybox-button:after,
.fancybox-button:before {
  content: '' !important;
  pointer-events: none !important;
  position: absolute !important;
  border-color: #fff !important;
  background-color: transparent !important;
  color: currentColor !important;
  opacity: 0.9 !important;
  box-sizing: border-box !important;
  display: inline-block !important;
}

.fancybox-button--close:before {
  -webkit-transform: none !important;
  transform: none !important;
  content: 'Close' !important;
  width: 80px !important;
  height: 44px !important;
  background-color: transparent !important;
  top: 0px !important;
  left: 0px !important;
}

.fancybox-button--close:after {
  -webkit-transform: none !important;
  transform: none !important;
  top: 0px !important;
  left: 0px !important;
}

.fancybox-button--close:hover {
  background-color: #d5a72b !important;
  border: 1px solid #d5a72b !important;
}

/* Footer */

#navigation-bullet-wrapper.footer-dark .navigation-bullet {
  background: #666;
}

#navigation-bullet-wrapper.footer-dark .navigation-label {
  color: #666;
}

#social-share-wrapper.slide-up {
  top: 30%;
  transition: 0.8s ease 0s;
}



@media only screen and (max-width: 1365px){
    #header.slide-up {
        transform: translate3d(0px, -210px, 0px);
    }
}

@media only screen and (max-width: 1138px){
    #header.slide-up { transform: translate3d(0px, -215px, 0px);}
}


@media only screen and (max-width: 1050px){
    #header.slide-up {
        transform: translate3d(0px, -55px, 0px);
    }
    #header.slide-up #mobile-menu.active { display: none!important;}
}


@media only screen and (max-width: 767px){
    #header .story-mode-logo-wrapper img { height: 74px;}
    #header.slide-up .sponsor-label-wrapper {
        transform: translate3d(83px, 0px, 0px);
    }
}


@media only screen and (max-width: 740px){
    #header.slide-up { transform: translate3d(0px, -55px, 0px)}
}


